[2014-06-20 07:53] Starefossen opened #2 "Don't convert colorspace of GRB images"
![img_4515](https://cloud.githubusercontent.com/assets/968267/3337717/f1e61aa8-f84f-11e3-8742-b3e40bccbc28.png)

[2014-06-20 07:55] Starefossen opened #3 "Global S3 upload options"
Make all AWS S3 [upload options](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#putObject-property) accessible from `Upload` class options.

[2014-06-20 07:57] Starefossen opened #4 "Local S3 upload options"
Make all AWS S3 [upload options](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#putObject-property) accessible from the `#upload()` method options – overwriting any globally specified options.

[2014-06-20 07:59] Starefossen opened #5 "Return actual image height and width"
Currently we just return the `maxHeight` and `maxWidth` version properties without checking the actual resized image (because this takes time). If someone needs it, they can submit a PR and make it **optional** for those who needs it.

[2014-06-20 08:12] Starefossen opened #6 "Optionally delete source image after upload"
Add new option to delete source image after it has been uploaded successfully.

[2014-06-20 08:14] Starefossen opened #7 "Optionally clean up temp files"
Provide option to clean up temp files after upload has finished. This should not be necessary when using system default temp directory as this should be clean up automatically. But for custom temp directories this must be done manually.

[2014-06-20 08:30] Starefossen opened #8 "AWS credentials as global options"
Add the possibility to pass AWS credentials directly to the `Upload` class constructor.

[code]

[2014-06-20 08:38] Starefossen opened #9 "Remove obsolete keepOriginal options"
If original image is uploaded to S3 has always been controlled by the version object array.

[2014-06-20 08:43] Starefossen opened #10 "Image file-size should be returned as bytes"

[2014-06-20 08:51] Starefossen opened #11 "Returned AWS S3 etag is stripped"
Etag from AWS contains an extra set of `"` – `"\"9793a0317e715386fbc9fbb8c33894b0\""`

[2014-06-20 09:45] #9 closed, assigned to Starefossen

[2014-06-20 11:04] Starefossen opened #12 "Don't autorotate image unless necessary"

[2014-06-20 11:17] #2 closed, assigned to Starefossen

[2014-06-20 11:17] #11 closed, assigned to Starefossen

[2014-06-20 11:17] #12 closed, assigned to Starefossen

[2014-06-20 11:32] Starefossen opened #13 "Implement Image#upload() unit tests"

[2014-06-20 11:33] Starefossen opened #14 "Implement Image#resizeAndUpload() unit tests"

[2014-06-20 11:33] Starefossen opened #15 "Implement Image#exec() unit tests"

[2014-12-22 11:24] freearhey opened #16 "Set AWS credentials"
Can you help. How set AWS credentials?

[2014-12-22 11:38] #16 closed, assigned to nobody

[2015-03-09 19:18] #8 closed

[2015-03-10 11:16] #3 closed

[2015-03-10 22:06] Starefossen opened #20 "Custom random path generator function"
Provide a constructor option to define a custom random path generator function.

**Example:**

[code]

[2015-03-11 18:57] jbroughton72 opened #21 "Image resize error"
Node.js v0.10.32
mageMagick v6.9.0-10
Ubuntu v14.04.1 LTS

the code for the uploader:
var uuid = require('node-uuid');
var config = require('../config');
var _ = require('underscore');
var Upload = require('s3-uploader');

module.exports = {

	connect: function() {
		var awsConfig = config.get('s3config');
		console.log(awsConfig);

		try {
			return new Upload(awsConfig.bucket, {
				url: awsConf

[2015-03-11 22:57] Starefossen commented on #21
I'll see if I can replicate this locally...

[2015-03-16 15:05] jbroughton72 commented on #21
The issue was in   versions: {original: false) in the config. The resize code is looking for a maxWidth and a maxHeight. I removed original and it worked great.

[2015-03-16 15:05] #21 closed

[2015-03-16 15:07] jbroughton72 opened #22 "upload options override path"
Is it possible to have the 'path' config option to be overridden when an upload takes place?
ie:
client.upload(file, {path: 'imagesJanuary/'}, function(err, images, meta) {...
client.upload(file, {path: 'imagesFebruary/'}, function(err, images, meta) {...

thanks
Jason

[2015-03-16 19:18] #22 closed

[2015-03-16 19:20] Starefossen commented on #22
I have implemented this as `awsPath: "some/new/path/"` which will be out in the next release of s3-uploader.

[2015-03-16 19:23] jbroughton72 commented on #22
Awesome, Thank you soo much! Cheers!!

[2015-04-16 04:25] vothanhkiet opened #23 "Not scale up if the image has small size than configuration"
Like the title said, do we have option like that.

[2015-04-16 09:27] Starefossen commented on #23
This is currently not supported. s3-uploader is using [gm](https://github.com/aheckmann/gm) under the hood, aheckmann/gm#226 discusses this functionality.

[2015-05-22 04:50] vothanhkiet commented on #23
I think your library can support that with some checking. I don't know coffee script, so I give some pseudo code in node as example.

[code]

The **version.force = true** will indicate that user want to scale up if the image size was smaller than the configuration size. The **'^'** will make the image is resized while maintaining the aspect ratio of the image, but the resulting width or height are

[2015-05-25 09:49] fabiusss opened #25 "Error code:4"
Hi,
I have the following error:

     { [Error: Command failed: Parametro non valido - server\uploads\86caf0d05da8d7fa
     c0fc964368a44939.jpg.mpc
     ] code: 4, signal: null }

In folder server\uploads\ there is the file: 86caf0d05da8d7fac0fc964368a44939.jpg

In myBucket no file is uploaded.

my configuration is:

    var client = new Upload('myBucket', {
    aws:{
      region: 'eu-west-1',

[2015-05-25 20:14] Starefossen commented on #25
Hi @fabiusss,

Can you post some details about the machine/server you are experiencing these issues with? From your file paths it looks like your on a Windows machine, is that correct?

[2015-05-25 22:50] fabiusss commented on #25
It is, for development use with Windows 8.1 pro with NWM (https://nwm.julianxhokaxhiu.com/).
If you need more details please ask.

[2015-05-25 23:39] fabiusss commented on #25
Hi @Starefossen,
I tested my app also in Ubuntu 14.04 x64 and i have the following error:

      { [Error: spawn ENOENT] code: 'ENOENT', errno: 'ENOENT', syscall: 'spawn' }

[2015-06-10 14:47] yonib05 opened #27 "Error Code 1"
I seem to be getting this error
{ [Error: Command failed: ] code: 1, signal: null }
running my dev environment on Mac OS X 10.10.3
Node.js v0.12.2

my code:
[code]

[2015-06-10 15:08] #27 closed

[2015-06-10 15:40] Starefossen commented on #27
Did you solve the error yourself @yonib05?

[2015-06-10 15:41] Starefossen commented on #25
Did you ever solve this error @fabiusss?

Could you post the output of the following command:

[code]

[2015-06-10 15:54] yonib05 opened #28 "us-east-1 Resolves to s3.amazonaws.com"
See: http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region

us-east-1 is only accessible from s3.amazonaws.com not s3-us-east-1.amazonaws.com

[2015-06-10 15:56] yonib05 opened #29 "Added support for pngs"
Pngs resizes to a black transparency as jpeg is the only format it resizes to, It would be nice to be able to detect the png and output pngs rather than jpeg to preserve the image type and properties (such as transparency)

[2015-06-10 16:13] yonib05 commented on #27
Yeah I spoke to soon turns out it was an error on my part however I found a
few other bugs that might be of concern. I will do a pull request soon with
some bug fixes and some better error outputting.

Thank you

On Wed, Jun 10, 2015 at 11:40 AM, Hans Kristian Flaatten <
notifications@github.com> wrote:

[2015-06-10 16:28] Starefossen commented on #27
Very good! Looking forward to your PR :)

[2015-06-10 20:14] Starefossen commented on #29
This will be in the 1.0.0 version :smile: Check out #24

[2015-06-10 20:14] Starefossen commented on #28
Great catch! Need to get this in.

[2015-06-11 09:15] #13 closed

[2015-06-11 09:15] #14 closed

[2015-06-11 09:15] #15 closed

[2015-06-11 09:27] #29 closed

[2015-06-11 09:28] #6 closed

[2015-06-11 09:28] #7 closed

[2015-06-11 09:40] #25 closed

[2015-06-11 09:42] Starefossen opened #30 "Force aspect ratio orientation"
Force aspect ratio orientation for resized image; landscape or horisontal.

[code]

[2015-06-11 12:40] #28 closed

[2015-06-16 07:20] anthonyringoet opened #33 "Idea: post-resize hook / event"
Just want to pitch this idea here.
I'd like to optimize the resized images before they are uploaded.
What do you think about adding the possibility to let the user do stuff (could be anything) after the images are resized?

[2015-06-16 08:11] Starefossen commented on #33
Interesting idea Anthony, here is a concept for how this *could* work:

[code]

With the corresponding change in `src/index.coffee`:

[code]

I have to think a little more if this is something s3-uploader should do, and if this is the correct approach.

[2015-06-16 12:25] vothanhkiet opened #34 "Emit S3 upload result as soon an image version was uploaded"
In some case we need result from on version is enough, so we don't need to wait the entire upload process completed.

For example: I save the original image in database, and sub version deduce from original URL, so the original URL is what I need.

[2015-06-23 22:33] mcassagnes opened #35 "cleanup does nothing"
The option to cleanup both original and resized images does not work. In fact there's no reference to it in the code. Am I missing something ?

[2015-06-23 22:52] Starefossen commented on #35
The `cleanup` option is a v1.0 feature (currently v1.0.0-rc.4). Documentation for s3-uploader v0.9 can be found here: https://github.com/Turistforeningen/node-s3-uploader/blob/stable/0.x/README.md

[2015-06-23 22:53] #30 closed

[2015-06-25 22:38] #35 closed

[2015-07-21 15:17] nicholasess opened #36 "Set path in opts to upload, without path random."
I need to set the after bucket, for example:

bucket/mypath/ap-small.jpg

[2015-07-21 15:22] nicholasess opened #37 "Force type of image, but not work"
I set in object opts, but create just image with type `.jpg`.

My code:
[code]
result:
[code]

[2015-07-21 15:23] nicholasess opened #38 "set name in image"
How to set name when i use function upload?

[2015-07-21 15:31] Starefossen commented on #37
You need to install the v1.x version (release candidate 10) to get forced format to work:

[code]

[2015-07-21 16:57] nicholasess commented on #37
Need change how to use function upload?
Because when i change the version and executa a file with code, return erro.
[code]

[2015-07-21 17:47] Starefossen commented on #37
You can look over the list of breaking changes [here](https://github.com/Turistforeningen/node-s3-uploader/releases/tag/v1.0.0-rc.1). There are some changes to the configuration when you instantiate the `Uploader` class.

[2015-07-21 19:31] nicholasess commented on #37
@Starefossen i follow the changes, but return other error.

"errTimeoutError: Missing credentials in config"

Code:
[code]

[2015-07-21 19:36] Starefossen commented on #37
Can you post the following and I will try to debug this for you:

* What operating system and version are you using
* What version of node/iojs are you using?
* What version of ImageMagick are you using?

[2015-07-21 20:00] nicholasess commented on #37
Elementary OS Freya
node: v0.10.37
ImageMagick 6.7.7-10

[2015-07-22 04:55] Starefossen commented on #37
Yeah, you should upgrade your version of ImageMagick. I also noticed that you have not updated your AWS configuration to match the new format:

[code]

[2015-07-23 01:16] klindberg commented on #37
I had the same problem with image types, '.png' especially. I upgraded to version 1.0.0-rc.10 per your comment above and it solved the problem!

I wanted to especially thank you for this node-s3-uploader! I had been using s3FS to upload (worked fine) but after a lot of time researching, I could not figure out how to resize the images during upload. Node-s3-uploaded handles that so well and so easi

[2015-07-23 07:15] Starefossen commented on #37
Thanks for the kind words @klindberg! I will push forward to get v1.0.0 released; we have been using it in production for a while now with no known bugs as of the latest RC version.

[2015-07-23 08:12] anthonyringoet commented on #37
I've been using the different release candidates in production as well.

[2015-07-23 19:02] nicholasess commented on #37
I could not change the version of imagemagick, then i'll use the trivial proccess that i'm using.
But when I can change , I will use the s3 - uploader.

Thanks for the your attention!

[2015-07-23 20:41] #37 closed

[2015-07-28 12:07] #5 closed

[2015-07-28 12:08] Starefossen commented on #5
Closed in 9d0ae8e

[2015-07-29 06:44] Starefossen opened #39 "Pass image extension or mime-type when uploading"

[2015-08-21 15:35] oblador commented on #39
Wouldn't it be better to always detect file format instead since mime type/extensions can be wrong? Seems like [identify](http://www.graphicsmagick.org/identify.html) could help with this.

[2015-08-21 16:04] oblador commented on #23
Not sure what you mean that GraphicsMagick doesn't support this. You'd only append a `>` at the end of the `-resize` argument, for example `400x400>`.

Do you want a PR for this? It's a breaking change, but IMHO with the current API I would not expect it scaling up when passing **max**Width/Height arguments hence it's a bug that needs fixing rather than breaking current behavior.

[2015-08-21 19:42] Starefossen commented on #39
Good suggestion @oblador, that would definitely be the best option. Would require some more change too I think.

[2015-08-21 19:54] Starefossen commented on #23
The short answer is yes, I would want a PR for this.

The long answer is that this is outside of what I need from `s3-uploader` so I will not have the time to do this myself.

Since this issue first was opened we have refactored away from `gm` so most of the functionality would need to go in [`im-resize` ](/Turistforeningen/node-im-resize) package. Also [`aspectratio`](/Turistforeningen/node-aspec

[2015-08-21 19:59] oblador commented on #23
@Starefossen: no worries, already did those changes locally for `im-resize` can do it for aspectratio too. Question is if you're willing to merge a breaking change. Replied here since there was no issue and very low activity in the `im-resize` repo.

[2015-08-21 20:34] oblador commented on #23
By the way, wouldn't it be better to rely on `inspect` or similar than to get actual dimensions rather than precalculate them?

[2015-08-21 21:30] Starefossen commented on #23
Yes, I am willing to merge this breaking change as long as the existing behavior can be enabled with an option.

It would be *easier* to use ImageMagics's `identify` command, but it will also be much much slower since it requires reading each image version from disk in order to return the size of it.

[2015-08-22 00:26] oblador commented on #23
`identify` would be more accurate since rounding and resizing algorithms *might* differ between `im-resize` and Image/GraphicsMagick. Slower, sure, but in the context of manipulating images and sending them to S3 it's probably negligible unless you're at Facebook scale.

If you think `aspectratio` is the way to go I'll do it :-)

[2015-08-22 14:08] Starefossen commented on #23
Yes, for the time being I think `aspectratio` is the right way to go. I welcome any PR for that :thy mbsup:

[2015-08-24 10:59] Starefossen opened #40 "Ditch CoffeeScript"
Ditch CoffeeScript in favour of vanilla JavaScript.

[2015-08-24 11:18] anthonyringoet commented on #40
Nice one :+1:

[2015-09-10 06:27] nikkwong opened #42 "How to pipe a path of multipart data?"
It is not instantly apparent to me. Thanks.

[2015-09-10 06:36] Starefossen commented on #42
Piping is currently not possible because of the way we use `ImageMagic`. Your only option is to pipe the image to a file and `s3-uploader` can be configured to remove the image on disk for you when it is done resizing and uploading.

[2015-09-10 07:03] nikkwong commented on #42
Great! Thanks for the info!

[2015-09-10 20:09] #42 closed

[2015-10-14 18:12] #20 closed

[2015-10-14 19:00] #36 closed

[2015-10-14 19:10] #38 closed

[2015-10-14 19:14] Starefossen commented on #36
Hi @nicholasess, thanks for suggesting this feature. This has been implemented in #47 and landed `s3-uploader@1.1.0-rc.2` please give it a try.

[code]

[2015-10-14 19:17] nicholasess commented on #36
Thanks @Starefossen I'll try the feature.

[2015-10-16 21:47] Starefossen opened #51 "Example usage"
Some more examples on how to use the `s3-uploader` would be nice. Maybe in an example folder, that way we can more easily integrate them with the test suite making sure no example gets broken between releases.

[2015-10-17 11:55] anthonyringoet commented on #51
While figuring out the broken cache property in the readme was not working I was thinking about an examples folder as well yesterday!

[2015-10-17 15:32] anthonyringoet commented on #51
Do you mean a couple of functional tests that could serve as documentation as well?
Like: is the image actually uploaded to path n on aws, are the cache headers actually set to n?

[2015-10-17 16:12] Starefossen commented on #51
Yes. The thought was to move the [Integration Tests](https://github.com/Turistforeningen/node-s3-uploader/blob/master/test/suite.coffee#L457) as separate examples in the example directory and have a way to integrate them back into the test suite.

[2015-10-17 17:27] Starefossen opened #52 "Use node-uuid as default random path generator"
PR #41, and v1.1.0, introduced the possibility to use a custom random path generator such as [node-uuid](https://github.com/broofa/node-uuid). The benefit with [Universally unique identifiers](https://en.wikipedia.org/wiki/Universally_unique_identifier) are that they are guaranteed to be unique and we no longer need the collision check which will speed things up a little :smile:

This is a breakin

[2015-10-27 20:05] anthonyringoet opened #54 "Use greenkeeper.io for keeping dependencies up to date"
Let's automate the boring part. :smile:
Agree/disagree?

http://greenkeeper.io

[2015-11-09 12:39] anthonyringoet commented on #54
@Starefossen What do you think?

[2015-11-09 12:44] Starefossen commented on #54
I think we should set it up. Are you able to do it yourself or do I have to do it?

[2015-11-09 12:45] anthonyringoet commented on #54
Anyone with the valid access rights can do it I think. I'll check it out :)

[2015-11-09 12:47] Starefossen commented on #54
Great! If it is successful feel free to set it up for the other repositories as well:

* https://github.com/Turistforeningen/node-im-metadata
* https://github.com/Turistforeningen/node-im-resize
* https://github.com/Turistforeningen/node-aspectratio

[2015-11-09 15:48] Starefossen commented on #10
Implemented in #55. Closed.

[2015-11-09 15:48] #10 closed

[2015-11-10 08:09] anthonyringoet commented on #54
Currently only actual admins can enable repo's on greenkeeper. This will possibly be changed in the future.

https://github.com/greenkeeperio/greenkeeper/issues/48#issuecomment-146693583

[2015-11-10 23:24] #40 closed

[2015-11-12 21:22] #52 closed

[2015-11-14 20:56] anthonyringoet commented on #39
Just tested this and this does not seem to be problem at first sight.
My test was a jpg, without an extension, used as input for s3-uploader.

[2015-11-14 21:01] Starefossen commented on #39
What did the final URL result in for the original and for a resized image look like?

I thought [this line](https://github.com/Turistforeningen/node-s3-uploader/blob/master/index.js#L149) assumed that the original image file name has a file extension.

[2015-11-14 21:12] anthonyringoet commented on #39
Well, some of the results have an extension, some do not. So it's a good idea to improve the handling :)

[2015-11-14 22:54] Starefossen commented on #39
I just looked into the problem again and remembered that this is not as straight forward as it looked like at first glance since each resized image version may have it's own format (`versions[#].format`).

We are passing the entire image metadata into `resize()` which contains the source image format (`results.metadata.format`). I have created Turistforeningen/node-im-resize#8 which makes use of t

[2015-11-17 01:49] damonYuan opened #61 "Configuire cloudFront for AWS-SDK"
how to Configuire cloudFront for AWS-SDK?

[2015-11-17 11:30] Starefossen commented on #61
Hi Damon,

I have not tried to use `s3-uploader` with CloudFront. You can add your own [custom AWS configurations](https://github.com/Turistforeningen/node-s3-uploader#aws-note) and from aws/aws-sdk-js#669 it looks like you could do it like this:

[code]

[2015-11-18 04:24] damonYuan commented on #61
let me try it and will let you know the result soon. Thanks for your reply

[2015-11-22 11:31] kiro112 opened #62 "'starefossen/rand-path' is not in the npm registry"
npm WARN package.json cluster@0.7.7 cluster is also the name of a node core module.
npm ERR! 404 Not Found
npm ERR! 404
npm ERR! 404 'starefossen/rand-path' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404 It was specified as a dependency of 's3-uploader'
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, or ht

[2015-11-22 12:21] Starefossen commented on #62
Hmmm... This has to do with the fact that `@starefossen/rand-path` is a [scoped package](https://docs.npmjs.com/getting-started/scoped-packages).

* Which npm registry are you installing from? Have you configured something in your `.npmrc`?
* Your Node.js/NPM version are kind of old, can you alt least upgrade `npm install -g npm`?
* What does `npm install --verbose @starefossen/rand-path` output?

[2015-11-22 12:22] Starefossen commented on #61
Did it work @damonYuan, if so, can you close this issue?

[2015-11-22 12:59] kiro112 commented on #62
Which npm registry are you installing from? Have you configured something in your .npmrc?
   - No, havent changed anything.
Your Node.js/NPM version are kind of old, can you alt least upgrade npm install -g npm?
    - cant upgrade right now, but will do on future days
What does npm install --verbose @starefossen/rand-path output?
What does npm install --verbose s3-uploader@2.0.0-rc.1 output?
    -

[2015-11-22 15:23] anthonyringoet commented on #62
Is it possible you need an npm version of min 2.7.0 to use scoped packages?
https://docs.npmjs.com/getting-started/scoped-packages#update-npm-and-log-in

[2015-11-22 15:29] Starefossen commented on #62
Yes, I think so too. The npm docs do not specify if this version is the required version for installing or just publishing scoped packages.

[2015-11-25 22:18] Starefossen opened #63 "Drop support for Node.js v0.10"
I think we should discontinue support for Node.js v0.10, as mentioned below this version of Node.js is officially discontinued after October 1st 2016.

**From [nodejs/lts](https://github.com/nodejs/lts#example) repo:**

[2015-11-26 08:13] anthonyringoet commented on #63
Agree to follow the Node guidelines. People on 0.10.x can still use it, albeit without support.

[2015-12-01 09:33] damonYuan commented on #61
hi Starefossen, it works! Thanks!

[2015-12-01 09:34] #61 closed

[2015-12-01 09:42] damonYuan opened #64 "Node.js single thread with image processing question"
I have use this lib in my project and it works fine in staging. But Image resizing is a cpu intense task, and I can see my staging server cpu usage almost 100% when uploading and resizing a image. Although the staging server is just EC2 t2.micro, I am still afraid that this will lead to server being blocked once pushed to production. (I have tried to upload using two device at the same time and se

[2015-12-01 14:01] Starefossen commented on #64
This is a great question @damonYuan!

This was a concern for us as well when we created this library. Originally we depended upon `gm` which wraps all the ImageMagick functions for Node.js, this was not very efficient for our case since we had to do `n` resize operations – one for each version of the original image. Hence we created [`im-resize`](https://github.com/Turistforeningen/node-im-resize)

[2015-12-01 14:13] damonYuan commented on #64
Cool @Starefossen ! Thanks a lot!

[2015-12-01 14:13] #64 closed

[2015-12-04 19:41] latitudehopper opened #65 "Renaming of file - what happens?"
Apologies if this is mentioned somewhere, I have looked and cannot see it.
When "image.jpg" is uploaded is the name retained in the object but with the suffix appended? The example show is being returned as a long string but I cannot see where this has come from.

[2015-12-04 19:54] Starefossen commented on #65
Good question @latitudehopper, this should definitely be explained better in the docs!

By default uploaded images get assigned a unique random name like `110ec58a-a0f2-4ac4-8393-c866d813b8d1` using the UUID v4 algorithm. All resized versions of this image will have a suffix string appended to them like this: `110ec58a-a0f2-4ac4-8393-c866d813b8d1-small`.

This is configurable, you can use another

[2015-12-08 10:05] latitudehopper commented on #65
Excellent answer. Many thanks. I will have a play! Thanks, @Starefossen

[2015-12-08 20:01] #65 closed

[2015-12-09 07:06] anthonyringoet commented on #62
@kiro112 Is your issue fixed? If not, could you try with an updated npm version?

[2015-12-13 10:42] kantaharikrishna opened #66 "Throwing error while uploading image"
client.upload('https://s3.amazonaws.com/yadva/uploads/images/mailer_footer.jpg', {}, function(err, versions, meta) {
  if (err) { throw err; }

  versions.forEach(function(image) {
    console.log(image.width, image.height, image.url);
    // 1234 4567 https://my-bucket.s3.amazonaws.com/path/ab/cd/ef.jpg
  });
  res.redirect('back');
});

I'm not able to upload images. Its always throwing error. P

[2015-12-13 16:08] Starefossen commented on #66
Hi @kantaharikrishna and thanks for using s3-uploader!

For future reference, when reporting errors please also write the following information:

* Operating System
* Node.js version
* ImageMagic version

The complete configuration would also be nice as well as the actual error message reported from s3-uploader.

In this case I can tell you right away what the problem is. The image you are trying

[2015-12-13 16:13] kantaharikrishna commented on #66
Oh I see. I will check it.
Thank you very much for your response.
On 13 Dec 2015 21:38, "Hans Kristian Flaatten" <notifications@github.com>
wrote:

[2015-12-13 16:52] kantaharikrishna commented on #66
Facing the same Issue:

OS: Windows 7, 32-bit
Node: 0.12.0
Imagemagick: 6.9.0

client.upload('/uploads/site-logo.png', {}, function(err, versions, meta) {
                  if (err) { throw err; }

                  versions.forEach(function(image) {
                    console.log(image.width, image.height, image.url);
                    // 1234 4567
https://my-bucket.s3.amazonaws.com/path/ab/cd

[2015-12-13 17:08] kantaharikrishna opened #67 "Please help me on this."
OS: Windows 7, 32-bit
Node: 0.12.0
Imagemagick: 6.9.0

[code]

Please help me on this.

[2015-12-13 17:28] Starefossen commented on #67
What does the error message say?

[2015-12-13 17:32] kantaharikrishna commented on #67
if (err) { throw err; }
                                   ^
ChildProcess.exithandler (child_process.js:744:12),ChildProcess.emit
(events.js:110:17),maybeClose
(child_process.js:1008:16),Process.ChildProcess._handle.on
exit (child_process.js:1080:5)

On Sun, Dec 13, 2015 at 10:58 PM, Hans Kristian Flaatten <
notifications@github.com> wrote:

--
Thanks,
Harikrishna Kanta

[2015-12-13 17:38] kantaharikrishna commented on #67
Please find the below error:

{ [Error: Command failed: C:\Windows\system32\cmd.exe /s /c "convert
uploads/site-logo.png -auto-orient -strip -write mpr:uploads/site-logo.png
+delete mpr:u
ploads/site-logo.png -quality 80 -resize "1040x1040" -write
uploads\site-logo-large.jpg +delete mpr:uploads/site-logo.png -quality 70
-crop "NaNxNaN+NaN+NaN"
 -resize "780" -write uploads\site-logo-medium.png +de

[2015-12-13 18:35] kantaharikrishna commented on #67
Issue resolved.

Thank you.
On 13 Dec 2015 23:08, "hari krishna" <kantaharikrishna@gmail.com> wrote:

[2015-12-13 18:46] #67 closed

[2015-12-13 18:46] #66 closed

[2015-12-16 05:25] kantaharikrishna opened #68 "Which one is correct? It's very confusing."
Which set is correct from below?

awsBucketRegion: 'us-east-1',
  awsBucketPath: 'images/',
  awsBucketAcl: 'public-read',

OR

aws: {
    path: 'images/',
    region: 'us-east-1',
    acl: 'public-read'
  }

Which link from below do we need to follow?
https://github.com/Turistforeningen/node-s3-uploader/blob/stable/0.x/README.md

OR

https://www.npmjs.com/package/s3-uploader

[2015-12-16 05:56] kantaharikrishna opened #69 "awsBucketAcl: 'public-read' in not making the resource public. Its still private."
awsBucketAcl: 'public-read'

Which is not making my attachment public. What is the reason for this?
version: s3-uploader@1.1.0

Please reply me on this.

[2015-12-16 06:22] Starefossen commented on #68
It depends on which version of `s3-uploader` your at:

* v0.x: https://github.com/Turistforeningen/node-s3-uploader/blob/stable/0.x/README.md
* v1.x: https://github.com/Turistforeningen/node-s3-uploader/blob/stable/1.x/README.md
* v2.x: https://github.com/Turistforeningen/node-s3-uploader/blob/master/README.md

[2015-12-16 06:25] Starefossen commented on #69
Please post the following information in order for me to best help you with this problem:

* Operating System
* Node.js version
* ImageMagic version

I also need the `s3-uploader` configuration so that I can verify that you are using the correct configuration for the installed version.

[2015-12-16 06:28] kantaharikrishna commented on #69
OS: Windows 7, 32-bit
Node: 0.12.0
Imagemagick: 6.9.0

s3-uploader@1.1.0

On Wed, Dec 16, 2015 at 11:55 AM, Hans Kristian Flaatten <
notifications@github.com> wrote:

--
Thanks,
Harikrishna Kanta

[2015-12-16 06:32] kantaharikrishna commented on #69
var Upload = require('s3-uploader');
var client = new Upload('my_bucket', {
  awsBucketRegion: 'us-east-1',
  awsBucketPath: 'uploads/',
  awsBucketAcl: 'public-read',

  versions: [{
    original: true
  },{
    suffix: '-large',
    quality: 80,
    maxHeight: 1040,
    maxWidth: 1040,
  },{
    suffix: '-medium',
    maxHeight: 780,
    maxWidth: 780
  },{
    suffix: '-small',
    maxHeight: 3

[2015-12-16 06:35] Starefossen commented on #69
For `s3-uploader@1.1.0` your AWS configuration needs to be like this:

[code]

[2015-12-16 06:39] kantaharikrishna commented on #69
Documents are very confusing..

*Documentation for s3-uploader@1.1 can be found here
<https://github.com/Turistforeningen/node-s3-uploader/blob/stable/1.x/README.md>.*
*on clicking link its taking to 0.9 version documentation.*

On Wed, Dec 16, 2015 at 12:05 PM, Hans Kristian Flaatten <
notifications@github.com> wrote:

--
Thanks,
Harikrishna Kanta

[2015-12-16 06:44] kantaharikrishna commented on #69
please provide me clear link to follow for version 1.1.0

Where I can get the options for creating *Upload *object.

On Wed, Dec 16, 2015 at 12:09 PM, hari krishna <kantaharikrishna@gmail.com>
wrote:

--
Thanks,
Harikrishna Kanta

[2015-12-16 06:55] #68 closed

[2015-12-16 06:56] Starefossen commented on #69
This is the documentation for v1.1.0: https://github.com/Turistforeningen/node-s3-uploader/blob/stable/1.x/README.md#new-uploadstring-awsbucketname-object-opts

[2015-12-16 06:56] #69 closed

[2015-12-16 06:59] kantaharikrishna opened #70 "Not making the uploaded things public"
I have followed this below link:
https://github.com/Turistforeningen/node-s3-uploader/blob/stable/0.x/README.md

OS: Windows 7, 32-bit
Node: 0.12.0
Imagemagick: 6.9.0
s3-uploader@0.9

My issue is the uploaded image is not having the public read though I have given awsBucketAcl: 'public-read',.

[2015-12-16 20:11] Starefossen commented on #70
Hi @kantaharikrishna, please take a look at this example configuration: https://github.com/Turistforeningen/node-s3-uploader/blob/stable/0.x/README.md#example

[2015-12-18 10:56] kantaharikrishna commented on #70
One concern, Its not making the uploaded thing as 'public-read'

On Thu, Dec 17, 2015 at 2:07 AM, Hans Kristian Flaatten <
notifications@github.com> wrote:

--
Thanks,
Harikrishna Kanta

[2015-12-18 11:46] anthonyringoet commented on #70
@kantaharikrishna Please provide the code you are using (with the exact same parameters) or provide an isolated example (github gist, tonic dev,…).

[2015-12-18 11:51] kantaharikrishna commented on #70
As per my investigation:

*s3-uploader@1.1.0:** It's making the uploads as public*

var client = new Upload('bucket_name', {
  aws:{
    region: 'us-east-1',
    path: 'images/'
    acl: 'public-read'
  },
  versions: [{
    original: true
  },{
    suffix: '-small',
    maxHeight: 320,
    maxWidth: 320
  }
  }]
});

*s3-uploader@0.9: It's not making the uploads as public*

var client = new Uploa

[2015-12-19 14:59] Philip-Nunoo commented on #62
Just got this issue noticed my npm -v was behind.
Upgraded it to 3.5.2 and everything works fine> :)
[sudo] npm install npm@latest -g

[2015-12-19 15:08] anthonyringoet commented on #62
Nice, thanks for the follow-up.

[2015-12-19 15:08] #62 closed

[2016-01-19 15:03] kikar opened #73 "Nope Command failed: /bin/sh -c identify -format"
I'm trying to upload some photos as I receive them from a POST request, here is my code:
[code]

And here is the error I'm getting:
[code]

I'm using node 4.2.4 on OSX 10.11.2 with s3-uploader 1.1.0

[2016-01-19 15:17] anthonyringoet commented on #73
@kikar Could you verify if ImageMagick is installed on your instance?
https://github.com/Turistforeningen/node-s3-uploader#requirements

[2016-01-19 15:30] kikar commented on #73
Nope, is that required? Cause I wont be able to install it on my server

[2016-01-19 16:00] anthonyringoet commented on #73
@kikar s3-uploader module uses imagemagick in the background to generate the different image sizes. After the resize process, they are uploaded to S3. Imagemagick is a hard requirement right now.

[2016-01-19 17:35] kikar commented on #73
@anthonyringoet Is ImageMagick CLI enough? Would I be fine just installing it with `brew install imagemagick`?

[2016-01-19 20:36] anthonyringoet commented on #73
@kikar Normally that should fix it yes. Please try it and verify your imagemagick version `identify --version`

[2016-02-06 09:37] anthonyringoet commented on #73
Did it work out for you @kikar?
Feel free to open if you're still having issues.

[2016-02-06 09:37] #73 closed

[2016-02-17 06:14] VesperDev opened #74 "Command failed: /bin/sh -c identify -format "name=size=%[size] etc..."
hello community have the following doubt'm trying to do the resize an image that I have in the following path of aws /imgnormal/quiko.jpeg

almost copy the code replacing keys aws

 var express = require('express');
 var bodyParser = require('body-parser');
 var im = require('imagemagick');
 var Upload = require('s3-uploader');

 var client = new Upload('my-buckets',{

  aws : {
    region : 'us-w

[2016-02-17 06:20] Starefossen commented on #74
Hi @VesperDev and sorry for the trouble.

This error says that the image `imgnormal/quiko.jpeg` was not found on your computer. To rephrase it, the image `imgnormal/quiko.jpeg` must be on the same physical location as your program in order for `s3-uploader` to access it. If this image is already on AWS you need to download it first before you can resize it.

[2016-02-19 07:58] VesperDev commented on #74
Hi @Starefossen thanks for help me
these days I have spent my researched how to use S3-uploader
I aws s3 in the folder structure as follows

![aws1](https://cloud.githubusercontent.com/assets/14016458/13169206/73c00258-d6a9-11e5-9878-2c8baea7a5e4.png)

![aws2](https://cloud.githubusercontent.com/assets/14016458/13169393/b37b5356-d6aa-11e5-8bfe-00aef92b5a73.png)

I have this code

var im = require(

[2016-02-21 08:38] EdQL opened #75 "alternative for the resize an image"
it is possible to make the resize an image that is stored on aws. I have this code that run from another application

var im = require('imagemagick');
var Upload = require('s3-uploader

--config
var client = new Upload('bucket', {

  aws: {
    region: 'us-west-1',
    path: 'imgnormal/',
    acl: 'public-read',
    accessKeyId: 'KeyID',
    secretAccessKey: 'AK',
    endpoint: 'https://s3-us-west

[2016-02-22 14:12] anthonyringoet commented on #75
s3-uploader creates variants of a certain image at the local file system and they are uploaded to aws afterwards.
It seems you are trying to use an image that is already on aws to feed into s3-uploader's input.
Also, you don't need to explicitly require imagemagick. It should be installed.

[2016-03-21 07:48] itamarwe opened #76 "Cleaning original image that wasn't uploaded"
I would have liked to be able to clean the original image even if it wasn't uploaded. Currently, the `removeVersions` function only cleans images that were uploaded.

Also, I would have liked to configure if the original should be uploaded or not without overriding any configuration. For the moment, you need to override an option, such as the `awsImageAcl`, `awsImageExpires`, `awsImageMaxAge`.

[2016-04-29 19:27] johnrickman commented on #39
Anyone have a working solution?

[2016-05-31 09:20] erezger opened #77 "Error: Command failed: C:\WINDOWS\system32\cmd.exe"
hello i am having this issue

`{ [Error: Command failed: C:\WINDOWS\system32\cmd.exe /s /c "identify -format "name=
size=%[size]
format=%m
colorspace=%[colorspace]
height=%[height]
width=%[width]
orientation=%[orientation]
" /images/erez.jpg"
'identify' is not recognized as an internal or external command,
operable program or batch file.
]
  killed: false,
  code: 1,
  signal: null,
  cmd: 'C:\\WI

[2016-05-31 09:27] Starefossen commented on #77
Hi @erezger and thank you for using the `s3-uploader` library 😄

Could you post the following information in order to bets help you with this:

* Operating system and version
* Node.js version (`node --version`)
* npm version (`npm --version`)
* ImageMagick version (`identify -version`)

[2016-05-31 09:29] Starefossen commented on #77
Make sure you have the latest version of [ImageMagick installed](http://www.imagemagick.org/script/binary-releases.php#windows) since this package requires ImageMagick to be installed.

[2016-05-31 09:34] erezger commented on #77
windows 10 64-bit operting system, x64-based processor
latest imagemagick installed
node - v4.4.3
npm - 2.15.1
imagemagick : "^0.1.3",

[2016-05-31 09:35] Starefossen commented on #77
You need to install the [ImageMagick binaries for Windows](http://www.imagemagick.org/script/binary-releases.php#windows)

[2016-05-31 09:37] erezger commented on #77
installed ImageMagick-7.0.1-7-Q16-x64-dll.exe
 that one and still not working

since you said this required imagemagick
if uplaod this to amazon beanstalk ec2 server it will work?

[2016-06-06 10:17] Starefossen commented on #77
Sorry for the late response @erezger! Could you open PowerShell and run the following command:

[code]

[2016-06-06 10:40] erezger commented on #77
'identify' is not recognized as an internal or external command,
operable program or batch file.

[2016-06-06 10:50] Starefossen commented on #77
You need to reinstall and make sure to check “Add application directory to your system path” in the installation, otherwise Windows won’t recognize any of the commands and tell you something like ‘convert’ is not recognized as an internal or external command, operable program or batch file.

![imagemagick_install](https://cloud.githubusercontent.com/assets/968267/15819728/4d3422b8-2be5-11e6-89f8-b

[2016-06-06 10:54] erezger commented on #77
its the default but i reinstalled and still the same error its weird i know
Thanks for the effort apriciete that

[2016-06-22 19:52] inampaki opened #78 "I am getting Invalid argument for cropping error"
I have  this configuration from example;
client : new Upload('trig.maktaabi', {
    aws: {
      path: 'uploads/',
      region: 'us-east-1',
      acl: 'public-read'
    },

    cleanup: {
      versions: true,
      original: true
    },

    original: {
      awsImageAcl: 'public-read'
    },

    versions: [{
      maxHeight: 100,
      maxWidth: 100,
      resizeStyle : "fill",
      aspect:

[2016-06-23 08:19] #75 closed

[2016-06-23 08:22] anthonyringoet commented on #78
@inampaki Could you provide the following info?

- Operating System
- Node.js version
- node-s3-uploader version

[2016-06-23 21:27] Starefossen commented on #54
Finally got around to do this. Sorry for the long wait.

[2016-06-23 21:27] #54 closed

[2016-06-24 10:28] #63 closed

[2016-06-25 05:31] inampaki commented on #78
- OS : Windows 10
- Node Version : v5.10.1
- node-s3-uploader : 1.1

[2016-06-25 05:35] inampaki commented on #78
This worked in version 0.9 with cropping object included. One more thing original file is not uploaded while according to documentation is should also be uploaded.
client : new Upload("trig.maktaabi1", {
    aws: {
      path: 'uploads/',
      region: 'us-east-1',
      acl: 'public-read'
    },

    cleanup: {
      versions: true,
      original: true
    },

    original: {
      awsImageAcl:

[2016-07-06 13:19] gustavost26 commented on #77
I'm having the same problem and can not solve.

[2016-07-06 16:13] gustavost26 commented on #77
And presented the following message: Version: ImageMagick 6.8.6-8 04/08/2013 Q16 http://www.imagemagick.org
Copyright: Copyright (C) 1999-2013 ImageMagick Studio LLC
Features: DPC OpenMP
Delegates: bzlib djvu fftw fontconfig freetype jng jp2 jpeg lcms lzma OpenEXR pango png ps tiff webp x xml zlib

[2016-07-06 18:42] Starefossen commented on #77
Thanks a lot @gustavost26, I am currently not on a Windows machine so I appreciate you helping me out. Could you try this approach suggested in aheckmann/gm#296:

[code]

[2016-07-06 20:05] gustavost26 commented on #77
Thanks a lot.

[2016-07-07 08:12] PierrickP opened #88 "Buffer / url as source"
I would like to pass a *buffer* or *url* to `upload()`

`aws.putObject` accept buffer / string / stream http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#putObject-property

Maybe you can change https://github.com/Turistforeningen/node-s3-uploader/blob/master/index.js#L95 to accepte original things passed to `src` like buffer or stream (with backward compatibility if its a path)

Than

[2016-07-07 08:19] Starefossen commented on #88
Hi @PierrickP and thank you for your suggestion! This is something we too would like to have support for, however the tricky part is to pass steams to ImageMagick for processing before they are uploaded 😕

[2016-07-07 08:51] PierrickP commented on #88
indeed !
I ll check that

[2016-07-07 09:04] Starefossen commented on #88
Great! 😄 Pull requests are always welcome 🚀

You can check out [`im-metadata`](https://github.com/Turistforeningen/node-im-metadata) and [`im-resize`](https://github.com/Turistforeningen/node-im-resize) which wraps the ImageMagick command line.

[2016-07-28 21:24] pieterbergmans opened #95 "TimeoutError: Missing credentials in config"
### Subject of the issue
I'm receiving the following error...TimeoutError: Missing credentials in config.

The code seems to execute but, instead of the files being saved to S3, the files are saved locally.  From what I've googled, it may be related to a timing out on S3's end. Could this be and has it happened to any others?  Uploading images to S3 via other methods works just fine.  The code I'm

[2016-07-28 21:37] Starefossen commented on #95
Hi @pieterbergmans and sorry for the trouble you are having with s3-uploader.

It looks like we managed to remove the S3 authentication documentation from the README in the 1.x => 2.0 rewrite. You need to authenticate with AWS in one of the following ways in order for ±s3-uploader` to upload correctly to AWS S3:

**Environment variables:**

* `AWS_ACCESS_KEY_ID`
* `AWS_SECRET_ACCESS_KEY`

**Constr

[2016-07-28 21:45] pieterbergmans commented on #95
Hi @Starefossen ...thanks for the quick reply.  I am using the second method you mentioned.  Here is a console.log() of my config...

`
Upload {
  opts:
   { aws:
      { path: '',
        accessKeyId: 'AasdfM5K5LDYI2FLAQ',
        secretKeyId: 'asdfx+asfg1WtIL6lHncF4OlzQAWwh0',
        region: 'us-west-2',
        acl: 'public-read',
        httpOptions: [Object],
        maxRetries: 3,
        p

[2016-07-28 21:49] Starefossen commented on #95
Could you try changing `secretKeyId` to `secretAccessKey`, and see if that works better.

[2016-07-28 21:57] pieterbergmans commented on #95
Wow, I feel like such an idiot. I'm not sure where I got secretKeyId from. Thanks for the help!

[2016-07-28 22:03] Starefossen commented on #95
I am always happy to help, and I hope you'll enjoy this library 😄

[2016-07-28 22:03] #95 closed

[2016-08-28 07:29] nifft opened #107 "I don't want to upload the original image."
As simple as that.

[2016-08-28 07:33] Starefossen commented on #107
Hi @nifft and thank you for using this library.

If you do not want the original image uploaded, just remove the `original` configuration option from your Uploader configuration. Simple as that 😅

[2016-08-28 07:39] #107 closed

[2016-08-29 15:19] hoodsy opened #108 "Unable to parse path with space"
### Subject of the issue
See title.

### Steps to reproduce
Upload a file with a space in the path, e.g. ```T/altright kreiger.png```

### Expected behaviour
The space in the path is accounted for, and the image is correctly found.

### Actual behaviour
I can escape the space, like so: ```T/altright\ kreiger.png``` but then the path isn't correctly found: ```Error: ENOENT: no such file or director

[2016-08-30 09:10] anthonyringoet commented on #108
Can you provide info about your environment?

* Operating system (Mac, Linux, Windows)
* Node.js version (`node --version`)
* ImageMagick version (`identify -version`)
* s3-uploader version

[2016-08-31 01:45] fatlinesofcode opened #110 "How to use with form upload and express 4?"
I'm trying to use this to upload a file via a form post. It worked fine using express 3 but with express 4 the request.files object is empty. There have been suggestions online to use multer or busboy but I cant figure out how to implement them with s3-uploader. Here is a copy of upload function

[code]

req.files object is always empty. Any suggestions on how I get that object to contain the file

[2016-08-31 05:43] Starefossen commented on #110
I have not looked at your code yet, but could you have a look at our reference Express application which uses `s3-uploader` to upload user images to AWS S3.

https://github.com/Turistforeningen/Jotunheimr/blob/master/routes/api_v1.js

[2016-08-31 05:43] Starefossen commented on #110
I have not looked at your code yet, but could you have a look at our reference Express application which uses `s3-uploader` to upload user images to AWS S3.

https://github.com/Turistforeningen/Jotunheimr/blob/master/routes/api_v1.js

[2016-08-31 07:03] anthonyringoet commented on #110
It can work with express v4 but you will need a middleware for handling `multipart/form-data`. (like multer). It will populate `req.files`/`req.file`. Can you add this and try again?

[2016-08-31 11:50] Starefossen commented on #110
This reminds me, we still need to add some examples #51.

[2016-09-01 00:01] fatlinesofcode commented on #110
thanks, I'll try again with multer.

[2016-09-01 07:06] anthonyringoet commented on #110
If something pops up, feel free to open this issue.

[2016-09-01 07:06] #110 closed

[2016-09-19 16:13] georgezhang opened #115 "File type .xcf (GIMP file) causing uncatchable error"
When resize and upload a file .xcf it can crash the nodejs process as error below. The problem is due to imagemagick generated multple files for individual layers after resized .xcf . The file name with suffix -n.jpg unmatched with the version path in _upload function. fs.createReadStream(version.path)  emitted error not catchable inside aws-sdk.

==================================================

[2016-09-20 06:09] anthonyringoet commented on #115
@georgezhang If you have a solution for this problem, feel free to publish a pull request.

[2016-10-27 03:31] meghjoshi opened #121 "TimeoutError: Connection timed out after 10000ms"
### TimeoutError: Connection timed out after 10000ms

The image is uploaded on s3 with all their sub variations but after uploading i am getting error for Connection timeout

### Your environment
* Operating system
  * Linux
* Node.js version (`node --version`)
  *  Node.js v6.x
* ImageMagick version (`identify -version`)
  * ImageMagick v7.0.x
* s3-uploader version
  * v2.x

### Steps to reproduc

[2016-11-03 11:38] jalal-haider-makki commented on #77
In Windows **identify** command is not available.  So, have to create a **identify.cmd** file in the installation folder of ImageMagick then add following content in it.

`magick identify %*`

[2016-11-16 23:03] Eric-Tran opened #122 "Creating image version without specifying max-width (original size), results in smaller image file size (lesser quality?) than a smaller px image?"
### I created an image with different versions, however the original image size (which is larger in px), is a smaller file size than an image version that is smaller in px.

* Operating system
  * [ ] Mac

* Node.js version (`node --version`)
  * [ ] Node.js v6.x

* ImageMagick version (`identify -version`)
  * [ ] ImageMagick v7.0.x

* s3-uploader version
  * [ ] v2.x

### Steps to reproduce
Resi

[2016-11-16 23:32] #122 closed

[2016-11-17 22:34] Starefossen commented on #122
Did resolve this issue, @Eric-Tran ?

[2016-11-17 23:33] Eric-Tran commented on #122
Yes issue has been resolved, my mistake the original image was actually smaller than the -med version.

[2016-11-24 15:19] isaacguerreir opened #125 "The authorization mechanism you have provided is not supported"
### Subject of the issue
Appear a error. InvalidRequest: The authorization mechanism you have provided is not supported. Please use AWS4-HMAC-SHA256.

What is that?
### Your environment
* Operating system
  * [ ] Mac
  * [ ] Windows
  * [ ] Linux
* Node.js version (`node --version`)
  * [ ] Node.js v4.x
  * [ ] Node.js v6.x
* ImageMagick version (`identify -version`)
  * [ ] ImageMagick v6.9.x
  *

[2016-11-24 18:11] Starefossen commented on #125
Hi @isaacguerreir, could you fill out the rest of the template and I'll be happy to debug the problem with you 😊

[2016-11-30 10:56] flxbe commented on #125
Hey guys,

I had the same issue after I initialized my AWS-credentials directly with the sdk and not explicitly passing them to the s3-uploader.

The problem here is that the s3-uploader always sets the aws-region when creating the `S3`-object. This is `us-east-1` by default, which still supports the old aws-signature-version `v2`. However, newer regions do not support it anymore. You therefore al

[2016-12-22 11:51] shravanjha commented on #67
I am having the same issue. How did you solve this?

[2016-12-23 07:25] javiercf commented on #121
any update on this?

[2017-01-16 00:53] jlissner commented on #67
@kantaharikrishna would you mind letting myself and @shravanjha know how you resolved the issue? I am having the same issue.

-Thanks.
Joe

[2017-01-20 08:38] kantaharikrishna commented on #67
@jlissner @shravanjha options for the Upload class for the updated version has been changed and those changes seems not been updated on document. It's better you contact the author for proper documentation for a required package version.

[2017-01-25 06:44] hanweifish opened #129 "if crop the image with width and aspect ration, how to define from the center/top/down as the position to crop? Thanks."
### Subject of the issue
Describe your issue here.

### Your environment
* Operating system
  * [ ] Mac
  * [ ] Windows
  * [ ] Linux
* Node.js version (`node --version`)
  * [ ] Node.js v4.x
  * [ ] Node.js v6.x
* ImageMagick version (`identify -version`)
  * [ ] ImageMagick v6.9.x
  * [ ] ImageMagick v7.0.x
* s3-uploader version
  * [ ] v0.x
  * [ ] v1.x
  * [ ] v2.x

### Steps to reproduce
Tell

[2017-01-25 07:10] Starefossen commented on #129
This is not currently possible. s3-uploader chooses the best centered crop. Pull Requests are welcome, though 👍🏼

[2017-01-30 11:17] kkesley commented on #67
hi @kantaharikrishna how do you resolve this issue? I'm having the exact same issue.. What do you change in the upload class if I may ask?

[2017-02-01 10:27] ORESoftware opened #130 "Feature request / docs request - Usage with Node.js streams"
### Subject of the issue
Describe your issue here.

### Your environment
* Operating system
  * [ ] Mac
  * [ ] Windows
  * [x] Linux
* Node.js version (`node --version`)
  * [ ] Node.js v4.x
  * [x] Node.js v6.x
* ImageMagick version (`identify -version`)
  * [ ] ImageMagick v6.9.x
  * [x] ImageMagick v7.0.x
* s3-uploader version
  * [ ] v0.x
  * [ ] v1.x
  * [x] v2.x

Just looking for a way to u

[2017-02-04 21:50] Starefossen commented on #130
No, unfortunately not. This package executes the installed `ImageMagic` binary (similar to the terminal command), it does not bind directly to the ImageMagic library which would allow us to use Node.js streams.

[2017-02-05 00:34] ORESoftware commented on #130
got it np thanks for responding!

[2017-02-16 16:44] alfiepoleon commented on #121
From this [aws sdk documentation](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#constructor_details) Try this
[code]

[2017-02-22 08:53] lukasz-galka opened #131 "Add ImageMagick installation instructions"
### Subject of the issue
It would be great to add ImageMagick installation instructions because this package is not working with default ImageMagick 7 installation.

![1](https://cloud.githubusercontent.com/assets/17024927/23203647/b6605d44-f8e3-11e6-89a4-8b8229ef5573.jpg)

They removed convert (now you should use "magick" command) and you have to select this checkbox to add convert:

![2](https:/

[2017-03-04 22:05] MaximilianLloyd commented on #78
Any update on this issue? I am also getting it.
`
Error: Command failed: convert C:\Users\Max\AppData\Local\Temp\vlJOCjbCFatj8PQN4VokK8M1.jpeg -auto-orient -strip -write mpr:C:\Users\Max\AppData\Local\Temp\vlJOCjbCFatj8PQN4VokK8M1.jpeg +delete mpr:C:\Users\Max\AppData\Local\Temp\vlJOCjbCFatj8PQN4VokK8M1.jpeg -quality 80 -resize "1040x1040" -write C:\Users\Max\AppData\Local\Temp\vlJOCjbCFatj8PQN4Vo

[2017-03-09 16:08] CodeStrumpet opened #132 "Original uploaded image does not have an extension when the path is specified"
### I'm trying to achieve a specific naming result with the uploaded S3 files but have been unsuccessful so far.

This is a pretty minor issue. When the path I pass to S3-uploader does not have an extension I can force my desired behavior on the versioned images (by specifying a suffix and the resultant image format) but the original image does not get an extension.

In my example, the path is `th

[2017-03-28 11:58] sanjeevbelagali opened #133 "client.upload() getting error"
### Subject of the issue
I am unable to run the code

### Your environment
* Operating system
  * [ ] Windows
* Node.js version (`node --version`)
  * [ ] Node.js v4.x
* ImageMagick version (`identify -version`)
  * [ ] ImageMagick v6.9.x
* s3-uploader version
  * [ ] v2.x

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a minimal code example to demonstrate the problem.

[2017-04-04 11:13] iggyZiggy commented on #121
tried the last solution, error just changed to:
[code]

[2017-04-04 13:26] iggyZiggy commented on #121
for anyone else who gets stuck on this one, double check your aws.region if it's the right one

[2017-04-13 13:34] webdevian commented on #132
I'm having this problem too, I feel like I must be doing something wrong, this can't be the default behaviour

[2017-04-13 14:02] webdevian commented on #132
@CodeStrumpet It seems that this happens if the tmp file on your server doesn't have an extension

[2017-04-13 14:26] webdevian commented on #108
This happens for me, it throws an error with no stacktrace with
[code]

I got around it by renaming files with `encodeURIComponent()` first, but it would be nice for the plugin to handle it.

[2017-04-20 14:34] ivanperalta opened #134 "original version removed still with cleanup false in configuration"
### original version removed still with cleanup false in configuration

Still when the configuration is like in the example:

`	cleanup: {
		versions: true,
		original: false
	},
`
the original version is removed, if I remove this cleanup element from the configuration the system keeps everything (original and versions) But it was impossible for me to keep only the original.

I'm using node 7.4.

[2017-06-07 19:47] javiercf opened #135 "Is there a way to generate progressive jpeg versions?"

[2017-07-02 01:11] gzurbach commented on #67
In case it helps anyone: I fixed this issue by making sure that the file name passed to `client.upload()` has an extension. My file was named `/tpm/foo/random-name-with-no-enxtension` - renaming it with a `.jpg` at the end fixed the issue.

[2017-08-16 14:49] haseebnaseem opened #137 "upload error: convert failed"
### Subject of the issue
Unable to run the code given in the documentation.

### Your environment
* Operating system
  * [x] Linux
* Node.js version (`node --version`)
  * [x] Node.js v6.x
* ImageMagick version (`identify -version`)
  * [x] ImageMagick v6.9.x
* s3-uploader version
  * [x] v2.x

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a minimal code example to dem

[2017-08-31 11:32] davidfloegel commented on #73
hey! sorry to re-open this but I'm running into a similar issue with some(!) images!

[code]

For some reason some images work and some don't.. any idea?

[2017-10-08 12:13] ghost opened #138 "It doesn't return or upload original image"
### Subject of the issue
I run the example provided in the documentation, urls of resized images is returned but original image url is never returned. Along with resize images urls i get the error: InvalidArgument, statusCode: 400

### Your environment
* Operating system
   Mac

* Node.js version (`node --version`)
  Node.js v6.x
* ImageMagick version (`identify -version`)

  ImageMagick v7.0.x
*

[2018-04-30 04:37] azkarmoulana commented on #125
@isaacguerreir it's because you are using the old aws signature version v2. You can prevent this error by moving to new aws signature version v4.

when initializing your s3 client pass this ` signatureVersion: 'v4'` as a parameter.

` let s3bucket = new AWS.S3({
        accessKeyId: IAM_USER_KEY,
        secretAccessKey: IAM_USER_SECRET,
        Bucket: BUCKET_NAME,
        signatureVersion: 'v4'

[2018-05-24 19:44] JonatanSalas opened #139 "[Feature Request] - Proxy Support"
Our apps, are behind a proxy network, we're using this library for one of our projects. It would be really nice, if you add support for proxy.

https://aws.amazon.com/es/blogs/developer/using-the-aws-sdk-for-javascript-from-behind-a-proxy/

[code]

Would you mind if I make you a PR?

[2018-05-31 13:13] abhishekp1996 commented on #121
By default the region is `us-east-1`. If you have server in some other location, add the `region` property in `aws` key in client object. I solved it this way. Hope this helps. :)

[2019-09-24 16:00] AlTheLazyMonkey opened #141 "Problem with ImageMagick 7.x"
### Subject of the issue
There is a problem with ImageMagick 7.x (in my case 7.0.8-23).
When I call the function .upload() it return an error that with ImageMagick 6.x doesn't happened ever:

`{
Error: Command failed: identify -format "name=
size=%[size]
format=%m
colorspace=%[colorspace]
height=%[height]
width=%[width]
orientation=%[orientation]
" tmp/1569329589272.jpeg
identify: no decode delega

[2020-04-24 04:07] mklled200 commented on #77
C. C: \ Windows \ system32 \ cmd.exe Please help more than once but the same result
[wf] Face type (f / wf / head?: he lp>: wf
wf
In] Write de bug images to aligned_debug? (y / n>: n
Extracting faces ...
Traceback (most recent call last):
File "C: \ Users \ A1-Mawshor \ Documents \ ANYMP4 Studio \ Uideo \ DeepFaceLab_NUIDIAN_i
ternalNDeepFaceLab \ main. py ", line 314, in <module>
arguments..func

[2020-04-24 04:09] mklled200 opened #142 "Please help more than once but it is the same result"
### Subject of the issue
Describe your issue here.

### Your environment
* Operating system
  * [ ] Mac
  * [ ] Windows
  * [ ] Linux
* Node.js version (`node --version`)
  * [ ] Node.js v4.x
  * [ ] Node.js v6.x
* ImageMagick version (`identify -version`)
  * [ ] ImageMagick v6.9.x
  * [ ] ImageMagick v7.0.x
* s3-uploader version
  * [ ] v0.x
  * [ ] v1.x
  * [ ] v2.x

### Steps to reproduce
Tell